TestWebService/web/WEB-INF/wsdl/localhost_7001/CalculatorApp/CalculatorWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:ns0="http://calculator.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://calculator.me.org/"><xsd:complexType name="addResponse"><xsd:sequence><xsd:element name="return" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:complexType name="add"><xsd:sequence><xsd:element name="i" type="xsd:int"/><xsd:element name="j" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:element name="addResponse" type="ns0:addResponse"/><xsd:element name="add" type="ns0:add"/></xsd:schema>